<div ng-controller="createCtrl">

<!--City Municipal-->

	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    {{header[0]}} <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li ng-repeat="race in races" ng-click="raceType(race)"><a href="">{{race}}</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="#">Add Race</a></li>
	  </ul>
	</div>

<!--County-->

	<div class="btn-group">
	  <span>
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="raceBuilder[0]">
	    {{header[1]}} <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li ng-repeat="items in list" ng-click="firstChoice(items)" ng-repeat="item in county"><a href="">{{items}}</a></li>
	  </ul>
	  </span>
	</div>

<!-- City -->

	<div class="btn-group">
	  <span>
	  <!--ng-if="raceBuilder[1]"-->
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{header[2]}}
	     <span class="caret"></span>

	  </button>
	  <ul class="dropdown-menu">
	    <li ng-repeat="items in cities" ng-click="secondChoice(items)"><a href="">{{items}}</a></li>
	  </ul>
	  </span>
	</div>

<!-- Racetype -->

	<div class="btn-group">
	  <span>
	  <!-- ng-if="raceBuilder[2]"-->
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{header[3]}}
	     <span class="caret"></span>

	  </button>
	  <ul class="dropdown-menu">
	    <li ng-repeat="items in munirace" ng-click="thirdChoice(items)"><a href="">{{items}}</a></li>
	  </ul>
	  </span>
	</div>

<!--ng-if="raceBuilder[3]"-->
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" ng-click="addCandidate()">Add Candidate</button>
</div>


<!-- Candidate Input -->
	<div ng-repeat="candidate in candidateList">
	  	<div class="col-lg-6">
	    	<div class="input-group">
	      		<input type="text" class="form-control" aria-label="Candidate Name" placeholder="Candidate Name" ng-model="candidateName[candidate]">
	    	</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
		
  			<div class="btn-group" data-toggle="buttons">
  
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Not Endorsed
  </label>
  <label class="btn btn-success">
    <input type="radio" name="options" id="option2" autocomplete="off"> Endorsed
  </label>
</div>
<div> <button type="button" class="btn btn-danger" ng-click="repeater(candidateList[candidate])">Delete Candidate</button> </div>
	</div>
	<button type="button" class="btn btn-info" ng-click="saveRace()">Save Race</button>
</div><!-- /.row -->



